---
import type Media from "../../../interfaces/Media";
import type Heading from "../../../interfaces/Heading";
interface Props {
  fields: {
    heading: Heading;
    media: Media;
  };
}

const {
  fields: { heading, media },
} = Astro.props;

const locale = Astro.cookies.get("locale")?.value;
---

<section id="talented-experts" class="section overviewdesktop">
  <div
    class="container-default w-container"
  >
    <div>
      <div class="w-layout-grid grid-2-columns text-left-short edit22">
        <div
          id="w-node-f5b53007-5890-c5fb-32cf-baca4cd2f716-4cd2f70b"
          data-w-id="f5b53007-5890-c5fb-32cf-baca4cd2f716"
          class="inner-container _548px _100---mbl"
          style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
        >
          <div class="text-center---tablet">
            <div class="inner-container _500px---mbl center">
              <a
                href="#"
                data-w-id="092e865b-6d5d-2152-0592-c86f201aac6e"
                class="lightbox-video-icon-wrapper w-inline-block w-lightbox"
                aria-label="open lightbox"
                aria-haspopup="dialog"
                ><img
                  src="https://assets-global.website-files.com/65e9eb27ad372f914ea0e9a7/65e9eb27ad372f914ea0ec41_1%20(6).svg"
                  alt=""
                  width="72"
                  height="40"
                  class="subtitle-icon subtitle-icon33 icon22"
                /></a
              >
              <h2 class="display-2 heading-2">{heading?.title}</h2>
            </div>

            <div class="max-w-520px center---tablet">
              <p class="mg-bottom-48px newmg444">
                {heading?.desc}
              </p>
            </div>
          </div>
        </div>

        <div
          id="w-node-f5b53007-5890-c5fb-32cf-baca4cd2f70f-4cd2f70b"
          data-w-id="f5b53007-5890-c5fb-32cf-baca4cd2f70f"
          class="inner-container _596px _100---tablet"
          style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
        >
          <div
            data-w-id="f5b53007-5890-c5fb-32cf-baca4cd2f710"
            class="border-radius-24px overflow-hidden height-100"
            style="opacity: 1;"
          >
            <div class="position-relative height-100">
              <img
                src={`${media?.image?.data?.attributes?.url}`}
                alt={media?.alt}
                class="video-bg-image"
                data-xblocker="passed"
              />

              <div class="bg-overlay">
                <a
                  href="#"
                  data-w-id="f5b53007-5890-c5fb-32cf-baca4cd2f714"
                  class="lightbox-video-icon-wrapper w-inline-block w-lightbox"
                  aria-label="open lightbox"
                  aria-haspopup="dialog"
                  ><img
                    src="https://assets-global.website-files.com/65e9eb27ad372f914ea0e9a7/65e9eb27ad372f914ea0ec28_1%20(2).svg"
                    alt=""
                    data-w-id="f5b53007-5890-c5fb-32cf-baca4cd2f715"
                    class="play-button-large"
                    style="opacity: 1;"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
