---
interface Props {
  fields: {
    subtitle: string;
    title: string;
    desc: string;
  };
}

const {
  fields: { subtitle, title, desc },
} = Astro.props;
---

<section class="section-7 hero v6 overflow-visible">
  <div class="container-default-55 w-container">
    <div
      data-w-id="b0904a68-552d-7ce8-7e23-0a5a3a4aea17"
      class="card5 features-hero"
      style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
    >
      <div class="position-relative z-index-1">
        <div class="inner-container _696px center">
          <div class="text-center-3">
            <div class="mg-bottom-18px-2">
              <div
                data-w-id="b0904a68-552d-7ce8-7e23-0a5a3a4aea1c"
                class="text-405 bold color-accent-1 text-uppercase"
                style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;"
              >
                {subtitle}
              </div>
            </div><h1
              data-w-id="b0904a68-552d-7ce8-7e23-0a5a3a4aea1e"
              class="display-7 color-neutral-100 mg-bottom-12px"
              style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;"
            >
              {title}
            </h1><p
              data-w-id="b0904a68-552d-7ce8-7e23-0a5a3a4aea20"
              class="color-neutral-801 mg-bottom-0"
              style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;"
            >
              {desc}
            </p>
          </div>
        </div>
      </div><div
        data-w-id="b0904a68-552d-7ce8-7e23-0a5a3a4aea22"
        class="position-absolute card-features-hero-shape---01"
        style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
      >
      </div><div
        data-w-id="b0904a68-552d-7ce8-7e23-0a5a3a4aea23"
        class="position-absolute card-features-hero-shape---02"
        style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
      >
      </div><div
        data-w-id="b0904a68-552d-7ce8-7e23-0a5a3a4aea24"
        class="position-absolute card-features-hero-shape---03"
        style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
      >
      </div><div
        data-w-id="b0904a68-552d-7ce8-7e23-0a5a3a4aea25"
        class="position-absolute card-features-hero-shape---04"
        style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
      >
      </div>
    </div><div
      data-w-id="b0904a68-552d-7ce8-7e23-0a5a3a4aea26"
      style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;"
    >
      <div class="features-navigation-wrapper">
        <a
          href="#Board-of-Trustees"
          class="badge-secondary-4 feature-link w-inline-block"
          ><div class="feature-link-icon">
            <div class="image-wrapper">
              <img
                src="https://assets-global.website-files.com/65a12e04c59a1723c86ea0f8/65e0126ebdb689285457bacd_1%20(59).svg"
                loading="eager"
                alt=""
                class="image-10 cover"
              />
            </div>
          </div><div>Board of Trustees</div></a
        ><a
          href="#Regulations-and-policies"
          class="badge-secondary-4 feature-link w-inline-block"
          ><div class="feature-link-icon">
            <div class="image-wrapper">
              <img
                src="https://assets-global.website-files.com/65a12e04c59a1723c86ea0f8/65e0126e461a8b46866cc9cd_1%20(57).svg"
                loading="eager"
                alt=""
                class="image-10 cover"
              />
            </div>
          </div><div>Regulations and policies</div></a
        ><a
          href="#reports"
          class="badge-secondary-4 feature-link w-inline-block"
          ><div class="feature-link-icon">
            <div class="image-wrapper">
              <img
                src="https://assets-global.website-files.com/65a12e04c59a1723c86ea0f8/65e013d6c45911e4fc46554d_1%20(62).svg"
                loading="eager"
                alt=""
                class="image-10 cover"
              />
            </div>
          </div><div>Reports</div></a
        >
      </div>
    </div>
  </div>
</section>
