---
import fetchApi from "../../../lib/strapi";

interface Props {
  fields: {
    title: string;
  };
}

const urlParamsObject = {
  populate: {
    media: {
      populate: "*",
    },
  },
};

const locale = Astro.cookies.get("locale")?.value;
const regulationAndPoliciesData: any = await fetchApi<any[]>({
  endpoint: "regulation-and-policies", // the content type to fetch
  query: urlParamsObject, // the key to unwrap the response
  locale: locale
});

const {
  fields: { title },
} = Astro.props;
---

<section id="Regulations-and-policies" class="section-14 overflow-hidden">
  <div class="container-default-6 w-container">
    <div
      data-w-id="745950d7-6bcc-061c-f6b9-bf1ae785c70e"
      style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
      class="mg-bottom-72px"
    >
      <div class="inner-container _595px _100---mbl">
        <div class="inner-container _500px---tablet _100---mbl">
          <div class="inner-container _400px---mbl center">
            <div class="text-center-mbl">
              <h2 class="display-6 mg-bottom-0">{title}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      data-delay="4000"
      data-animation="slide"
      class="slider-wrapper buttons-top w-slider"
      data-autoplay="false"
      data-easing="ease"
      style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
      data-hide-arrows="false"
      data-disable-swipe="false"
      data-w-id="745950d7-6bcc-061c-f6b9-bf1ae785c71a"
      data-autoplay-limit="0"
      data-nav-spacing="3"
      data-duration="500"
      data-infinite="true"
      role="region"
      aria-label="carousel"
    >
      <div class="slider-mask-3 width-496px w-slider-mask" id="w-slider-mask-0">
        {
          regulationAndPoliciesData?.map((item: any, index: number) => (
            <div
              class="slide-item-mg w-slide"
              aria-label="1 of 9"
              role="group"
              style="transform: translateX(0px); opacity: 1; transition: transform 500ms ease 0s;"
            >
              <div class="card5 value">
                <div class="mg-bottom-32px-4">
                  <div class="inner-container _54px">
                    <div class="image-wrapper">
                      <img
                        src="https://assets-global.website-files.com/65a12e04c59a1723c86ea0f8/65e296a64eb0a1a3e7db1683_1%20(76).svg"
                        loading="eager"
                        id="w-node-_745950d7-6bcc-061c-f6b9-bf1ae785c721-c86ea200"
                        alt=""
                        class="image-16 cover"
                      />
                    </div>
                  </div>
                </div>

                <div class="card-value-content">
                  <>
                    <p class="mg-bottom-3">
                      Lorem ipsum dolor sit amet consectetur imp adipiscing elit
                      justo aliquet elit sed convallisolo neque aliquam{" "}
                      <span class="text-no-wrap">elementum dolr.</span>
                    </p>
                    <div class="office-main-content">
                      <>
                        <div class="office-content">
                          <>
                            <h3 class="display-11 mg-bottom-16px">
                              <strong>{item?.attributes?.title}</strong>
                            </h3>
                            <div class="w-layout-grid grid-1-column">
                              <a
                                id="w-node-a7f92431-bb6a-3a78-0bcf-b80ec23d969c-c86ea200"
                                href={item?.attributes?.docUrl}
                                class="text-link text-300 bold text-decoration-none"
                              >
                                {item?.attributes?.title}
                              </a>
                            </div>
                          </>
                        </div>
                        <a
                          href="https://assets-global.website-files.com/65a12e04c59a1723c86ea0f8/65e29bc3f03910a587832008_%D8%A7%D9%84%D9%84%D8%A7%D8%A6%D8%AD%D8%A9%20%D8%A7%D9%84%D8%A7%D8%B3%D8%A7%D8%B3%D9%8A%D8%A9.pdf"
                          target="_blank"
                          class="btn-circle-secondary-2 small office-arrow w-inline-block"
                        >
                          <div class="line-rounded-icon line2"></div>
                        </a>
                      </>
                    </div>
                  </>
                </div>
              </div>
            </div>
          ))
        }
      </div>

      <div
        class={`btn-circle-secondary-2 slider-arrow left---top-right w-slider-arrow-left ${ locale === "en" ? "btn-navigation-rtl" : "" }`}
        role="button"
        tabindex="0"
        aria-controls="w-slider-mask-0"
        aria-label="previous slide"
      >
        <div class="w-icon-slider-left"></div>
      </div>

      <div
        class={`btn-circle-primary-2 slider-arrow right---top-right w-slider-arrow-right ${ locale === "en" ? "btn-navigation-ltr" : "" }`}
        role="button"
        tabindex="0"
        aria-controls="w-slider-mask-0"
        aria-label="next slide"
      >
        <div class="w-icon-slider-right"></div>
      </div>

      <div class="hidden-on-desktop w-slider-nav w-round">
        <div
          class="w-slider-dot w-active"
          data-wf-ignore=""
          aria-label="Show slide 1 of 9"
          aria-pressed="true"
          role="button"
          tabindex="0"
          style="margin-left: 3px; margin-right: 3px;"
        >
        </div>

        <div
          class="w-slider-dot"
          data-wf-ignore=""
          aria-label="Show slide 2 of 9"
          aria-pressed="false"
          role="button"
          tabindex="-1"
          style="margin-left: 3px; margin-right: 3px;"
        >
        </div>

        <div
          class="w-slider-dot"
          data-wf-ignore=""
          aria-label="Show slide 3 of 9"
          aria-pressed="false"
          role="button"
          tabindex="-1"
          style="margin-left: 3px; margin-right: 3px;"
        >
        </div><div
          class="w-slider-dot"
          data-wf-ignore=""
          aria-label="Show slide 4 of 9"
          aria-pressed="false"
          role="button"
          tabindex="-1"
          style="margin-left: 3px; margin-right: 3px;"
        >
        </div><div
          class="w-slider-dot"
          data-wf-ignore=""
          aria-label="Show slide 5 of 9"
          aria-pressed="false"
          role="button"
          tabindex="-1"
          style="margin-left: 3px; margin-right: 3px;"
        >
        </div><div
          class="w-slider-dot"
          data-wf-ignore=""
          aria-label="Show slide 6 of 9"
          aria-pressed="false"
          role="button"
          tabindex="-1"
          style="margin-left: 3px; margin-right: 3px;"
        >
        </div><div
          class="w-slider-dot"
          data-wf-ignore=""
          aria-label="Show slide 7 of 9"
          aria-pressed="false"
          role="button"
          tabindex="-1"
          style="margin-left: 3px; margin-right: 3px;"
        >
        </div><div
          class="w-slider-dot"
          data-wf-ignore=""
          aria-label="Show slide 8 of 9"
          aria-pressed="false"
          role="button"
          tabindex="-1"
          style="margin-left: 3px; margin-right: 3px;"
        >
        </div><div
          class="w-slider-dot"
          data-wf-ignore=""
          aria-label="Show slide 9 of 9"
          aria-pressed="false"
          role="button"
          tabindex="-1"
          style="margin-left: 3px; margin-right: 3px;"
        >
        </div>
      </div>
    </div>
  </div>
</section>