---
import Layout from "../layouts/Layout.astro";
import ForgetPasswordContent from "../components/partials/auth/ForgetPasswordContent";
import { getCurrentUser } from "../utils/user";

const apiUrl = import.meta.env.STRAPI_URL;
const apiToken = import.meta.env.STRAPI_Token;

const { url } = Astro;

const token = url.searchParams.get("token");
const resetPasswordToken = Astro.cookies.get("resetPasswordToken")?.value;

if (!token) {
  return Astro.redirect("/");
}

const currentUser: any = await getCurrentUser(token as string, apiUrl);
---

<Layout title="Reset">
  <section class="h-screen fixed left-0 right-0 top-0 bottom-0 z-20 bg-white">
    <div class="container h-screen flex items-center justify-center">
      <ForgetPasswordContent
        token={token}
        resetPasswordToken={resetPasswordToken}
        currentUser={currentUser ?? {}}
        apiUrl={apiUrl}
        apiToken={apiToken}
        client:only="react"
      />
    </div>
  </section>
  
</Layout>
