---
import type Link from "../../../interfaces/Link";
import type Heading from "../../../interfaces/Heading";

interface Props {
  fields: {
    heading: Heading;
    accordion: Array<Link>;
  };
}

const {
  fields: { heading, accordion },
} = Astro.props;

const locale = Astro.cookies.get("locale")?.value;
---

<section class="section">
  <div class={`container-default w-container ${locale == "en" ? "direction-ltr" : ""}`}>
    <div class="inner-container _680px---tablet center _100---mbl">
      <div
        data-w-id="5f5bf0f8-a334-1cb8-34ee-b7fb8d9fca67"
        class="inner-container _600px center"
        style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;"
      >
        <div class="text-center mg-bottom-40px">
          <img
            src="https://assets-global.website-files.com/65a12e04c59a1723c86ea0f8/65cb7fc31738cce4d8aa89fe_1%20(21).svg"
            alt=""
            class="subtitle-icon"
          />

          <h2 class="display-2">
            {heading?.title}
          </h2>

          <p class="mg-bottom-0">
            {heading?.desc}
          </p>
        </div>
      </div>

      <div
        data-w-id="5f5bf0f8-a334-1cb8-34ee-b7fb8d9fca72"
        class="inner-container _779px center"
        style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;"
      >
        <div class="card faqs">
          <div class="w-layout-grid grid-1-column gap-row-0">
            {
              accordion?.map((item: Link, index: number) => (
                <div
                  data-w-id="5f5bf0f8-a334-1cb8-34ee-b7fb8d9fca75"
                  class={`accordion-item-wrapper v2 ${index === 0 ? "border-300---first" : accordion?.length - 1 === index ? "border-300---last" : "border-300"}`}
                >
                  <div class={`accordion-side ${locale === "ar" ? "ml-4" : ""}`}>
                    <div
                      class="btn-circle-secondary small accordion-btn"
                      style="background-color: rgba(0, 0, 0, 0); border-color: rgb(0, 45, 51);"
                    >
                      <div
                        class="accordion-btn-line vertical"
                        style="opacity: 1; background-color: rgb(0, 45, 51);"
                      />

                      <div
                        class="accordion-btn-line horizontal"
                        style="background-color: rgb(0, 45, 51);"
                      />
                    </div>
                  </div>

                  <div class="accordion-content-wrapper width-608px">
                    <div class="accordion-header">
                      <h3 class="accordion-title">{item?.title}</h3>
                    </div>

                    <div
                      class="acordion-body"
                      style="transform: translate3d(0px, 20px, 0px) scale3d(0.96, 0.96, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 0; width: 608px; height: 0px;"
                    >
                      <>
                        <div class="accordion-spacer" />
                        <p class="mg-bottom-0">{item?.value}</p>
                      </>
                    </div>
                  </div>
                </div>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
